/*auth */
    #login-column{
        background-image:url(/images/power-by-debian.jpg);
        background-size:contain;
        background-repeat:no-repeat;
        background-position: center;
    }
    #login-span{
        color: black;
    }
    #login-a{
        float: right;
    }
/*front layout*/
    .interlink{
        position: absolute;
        width: 110px;
        top:0;
        margin-left: 20px;
        padding: 1px;
        background-color: rgb(14, 14, 14);
        height: 60px;
        overflow-y: hidden;
        z-index: 100;
        transition: 500ms;
    }
    .interlink:hover{
        height: 270px;
        background-color: rgb(31, 31, 31);

    }
    .interlink > a > img{
        height: 70px;
    }
    .in-interlink{
        height: 300px;
        
    }
    .content-wrapper{
        background-color: rgb(48, 48, 48);
    }
    h1{
        color: white;
    }
    .card{
        background-color: rgb(105, 105, 105);
    }
    input{
        background-color: rgb(173, 173, 173);
    }
     tbody > tr > td {
        color: rgb(229, 231, 229);
    }
    tbody > tr:hover > td {
        color: rgb(159, 255, 167);
    }
    body{
        background-color: rgb(48, 48, 48);
    }
    h1{
        color: white;
    }
    label{
        color: white;
    }
    textarea{
        color: white;
    }
    #f-layout-header{
        height: 6rem;
    }
    #f-layout-header-image{
        height:55px;
        width: 88px;

        margin-left: 10px;
    }
    #f-layout-nav{
        margin-right:10px;
    }
    h5{
        color: white;
    }
    .s-footer{
        color: gray;
    }
/* back layout*/
    #b-layout-navbar{
        background:rgb(32, 32, 32);border:transparent;
    }
    #b-layout-navitem{
        position: absolute;right:0;
    }
    #b-layout-mainsidebar{
        background:rgb(32, 32, 32);
    }
    #b-layout-footer{
        background:rgb(32, 32, 32);border-top:transparent;
    }
/*hero*/
a:hover{
    color: rgb(236, 236, 236)
}
#hero_main{
    height: 100%;
    text-shadow: 1px 1px 2px black;
    background-color: rgb(48, 48, 48);
}
.link-hero {
    color: white;
}
#hero_main > div{
    background-position: center;
    background-size:cover;
    border-radius: 40px;
    background-repeat: no-repeat;
    box-shadow: rgb(43, 43, 43) 8px 5px 5px ;
    overflow: hidden;

}
.image{
    position: absolute;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    border-radius: 40px;
    transition: 0.7s;
    box-shadow:inset rgba(0, 0, 0, 0.595) 0px -100px 100px ;

}
.image > a{
    height: 100%;
    width: 100%;
}
.resume{
    position: absolute;
    display: none;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:white;
}
#hero_main > div:hover  .resume  {
    display: block;
}
#hero_main > div:hover{
    box-shadow: black 8px 5px 5px ;
}
#hero_main > div:hover .image{
    box-shadow:inset rgba(0, 0, 0, 0.795) 0px -150px 100px ;


}
#hero_main > div:nth-of-type(1){
    position: absolute;
    height: 57%;
    width: 68%;
    left: 1%;
    bottom: 32%
}
#hero_main > div:nth-of-type(2){
    position: absolute;
    height: 27%;
    width: 68%;
    left:1%;
    bottom: 2%
}
#hero_main > div:nth-of-type(3){
    position: absolute;
    height: 27%;
    width: 28%;
    right:1%;
    bottom: 62%
}
#hero_main > div:nth-of-type(4){
    position: absolute;
    height: 27%;
    width: 28%;
    right:1%;
    bottom:32%;
}
#hero_main > div:nth-of-type(5){
    position: absolute;
    height: 27%;
    width: 28%;
    right:1%;
    bottom: 2%;
}
.entry__thumb{
    border-radius: 20px;
}
.nom{
    position: absolute;
    bottom: 0;
    left: 15px;
}
#hero_main > div > div > h1{
background:rgba(0,0,0,0.7);
    border-radius: 10px;
}

.byline-hero{
    margin-left: 110px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
@media screen and (max-width: 700px) {
    #hero_main > div{
        border-radius: 0;
    }
    .image{
        border-radius: 0;
    }
    .nom{
        left:0;
        bottom:0;
    }
    h1{
        border-radius: 0px;
        margin-bottom:0;
    }
    .entry__meta{
        display:none;
    }
    #hero_main > div:nth-of-type(1){
        position: absolute;
        height: 53%;
        width: 98%;
        left: 1%;
        bottom: 45%
    }
    #hero_main > div:nth-of-type(2){
        position: absolute;
        height: 21%;
        width: 98%;
        left: 1%;
        bottom: 23%
    }
    #hero_main > div:nth-of-type(3){
        position: absolute;
        height: 21%;
        width: 98%;
        left: 1%;
        bottom: 1%
    }
    #hero_main > div:nth-of-type(4){display:none;}
    #hero_main > div:nth-of-type(5){display:none;}
    #post-main {
        padding-left: 0;
        padding-right: 0;
    }
}
/* post*/

input{ color:white;}
ul{margin-bottom:0;}
li{color:black;}
pre{margin-bottom:0;}
s-content__entry-meta > div > a{color:azure;}
#post-article{
    background:rgb(60,61,61);
    color:white;
    border-top-right-radius: 3px;
    border-top-left-radius:3px;
    box-shadow: 3px -15px 15px rgba(0,0,0,0.5);
    padding:1%;
}
#post-main{
    margin-top: -210px;
}
#post-image{
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    height:90vh;min-height:600px;
    box-shadow: inset 0px -15px 15px rgba(0,0,0,0.5);
}
